- var titulo =  'ACCESS CODE | Farmacia Juanito'
include head.pug
body(style="background-image: url(../static/logo-farmacia.jpeg); width: 100%; height: 100vh; background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) ), url(../static/logo-farmacia.jpeg); background-position: center; background-repeat: no-repeat; background-size: 100% 760px; ")

    a(href='/view/home?salir=true').btn.btn-danger Salir

    h2.text-center.p-2 Generar y eliminar codigos de acceso
    section.container-fluid.p-3
        .row.justify-content-center
            .col-12.col-md-6.col-lg-3
                form(action='/view/home', method='post').p-2.mt-5
                    select(name="tipo").form-control
                        option(value='Administrador') Administrador
                        option(value='Común') usuario Común
                    button.btn.btn-success.form-control.mt-2 Generar Nuevo Codigo
            .col-12.col-md-6
                table.table.table-striped.table-bordered.p-5.mt-5.text-center
                    thead.thead-light
                        tr
                            th(scope='col') ID code
                            th(scope='col') Codigo
                            th(scope='col') Tipo
                            th(scope='col') Opciones
                    tbody
                        each valor in data
                            tr
                                td= valor.id_access
                                td= valor.code
                                td= valor.tipo
                                td
                                    a(href='/view/home?removeID='+valor.id_access).btn.btn-danger Eliminar
