nav.navbar.navbar-expand-lg.navbar-light
    button.navbar-toggler.btn-menu-mini(type='button', style='background-color: #fff', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarTogglerDemo01.collapse.navbar-collapse
        a.navbar-brand.text-white(href='/') A.R.C.G
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item.active
                a.nav-link.text-white(href='/')
                    | Inicio
            li.nav-item
                a.nav-link.text-white(href='/portafolio') Portafolio
            li.nav-item
                a.nav-link.text-white(href='/blog?page=1') Blog
            li.nav-item
                a.nav-link.text-white(href='/experiencia') Experiencias
            li.nav-item
                a.nav-link.text-white(href='/sobre-mi') Habilidades
            li.nav-item
                a.nav-link.text-white(href='/contacto') Ubicacion