- var titulo =  'Verificar code | Farmacia Juanito'
include head.pug
body


    section.container-fluid.p-5
        .row.justify-content-center
            .col-12.col-md-6.col-lg-4
              .card.text-center
                    .card-header
                      | Farmacia Juanito
                    .card-body
                      h5.card-title Verificacion de email
                      p.card-text=feeback
                    .card-footer.text-muted=date